<!DOCTYPE html>
<html lang="en" ng-app="lab">
<head>
  <meta charset="utf-8">
  <title>TPC - Circuit Breaker</title>
  <link rel="stylesheet" href="font.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
</head>

<body style="text-align: center">
<h2>Elephant in the room - Circuit Breaker</h2>

<div class="content" ng-controller="LabCtrl as funnyimg">
  <div class="line slide-in form-group">
    <form ng-submit="funnyimg.getNew()" class="form noun">
      <ul class="list-unstyled">
          <li>
            <label class="checkbox">
              <input type="checkbox" ng-model="funnyimg.polly">
              <span>Use Circuit Breaker</span>
            </label>
          </li>
          <li>
              <input class="btn btn-primary" type="submit" value="add">
          </li>
        </ul>
    </form>
  </div>

  <div class="line slide-in" ng-repeat="ims in funnyimg.images">
    <div class="result  slide-in" ng-class="ims.style">
      <div>
        <span class="title slide-in" ng-bind="ims.title"></span>
        <a class="link" ng-bind="ims.link"></a>
      </div>
      <div ng-bind-html="ims.content" class="image"></div>
    </div>
  </div>
</div>
</body>

<script src="angular.min.js"></script>
<script src="angular-sanitize.js"></script>
<script src="app-image.js"></script>

</html>
